$base-color: #ffffff;
$text-color: #555248;
$accent-color: #1b1a17;
$accent-color-a: rgba(27, 26, 23, 0.82);
$button-color: #444240;
$stroke-color: #8b8371;
$wishlist-counter: #e6c8b4;
$main-cicrle: #eae3d4;
$circle-color: #d4b098;
$circle-color-a: #e2d0c4;
$banner-color: #f7f5ef;
$socials-color: #5c5c50;
$underline: #c4c0b6;
